<div class="my-container">
    <div class="specifics">
        <nav class="navbar">
            <a class="navbar-brand">
              <i
                class="my-icon"
                [style.background-image]="'url(' + newIcon + ')'"
              ></i>
              <pre>{{ myNew.category }}</pre>
              <pre>{{ myNew.date }}</pre>
            </a>
          </nav>

          <h4>{{ myNew.title }}</h4>

          <div class="jumbotron jumbotron-fluid">
            <img [src]="myNew.image" alt="" />
          </div>
    </div>


  <div class="info">
    <p>{{ myNew.description }}</p>
  </div>
</div>
