.my-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  bottom: 2vh;
  top: 12vh;
  margin-left: 0;
  min-height: 88vh;
  overflow: hidden;
  width: 100vw;
  justify-content: space-between;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed;
  background-image: url("../../assets/background.jpg");
}

.specifics {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.jumbotron {
  width: 100%;
  border-radius: 5px;
  display: flex;
  margin: auto;
  margin-bottom: 5%;

}

.navbar-brand {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.25s;
  width: 70%;
  justify-content: space-around;
  background-color: white;
}

.my-icon {
  width: 2em;
  height: 2em;
  display: inline-block;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

pre {
  margin: 0;
  font-size: 1em;
  font-family: var(--bs-font-sans-serif) !important;
}

img {
  margin: auto;
  width: 70%;
  border-radius: 10px;
}

h4 {
  width: 80%;
  margiN: auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5%;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  margin-right: 1%;
  width: 50%;
}

.new-description {
  width: 100%;
  padding: 2%;
  text-align: justify;
  overflow: auto;
  height: 70vh;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}

.chart-wrapper {
  width: 100%;
}

canvas {
  margin-top: 2%;
  margin: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100% !important;
}