<div class="my-container">
  <div class="specifics">
    <nav class="navbar">
      <a class="navbar-brand">
        <i
          class="my-icon"
          [style.background-image]="'url(' + newIcon + ')'"
        ></i>
        <pre>{{ myNew.zCategory }}</pre>
        <pre>{{ myNew.time }}</pre>
      </a>
    </nav>

    <div class="jumbotron jumbotron-fluid">
      <img [src]="myNew.img" alt="" />
    </div>

    <div class="chart-wrapper">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  <div class="info">
    <h4>{{ myNew.headline }}</h4>
    <div class="new-description">
      <p>{{ myNew.article }}</p>
    </div>
  </div>
</div>
