html {
  height: 100%; 
}

body {
  height: 100%; 
  margin: 0; 
  overflow: hidden;
}

/* Scrollbar styles */
/* width */
::-webkit-scrollbar {
  right: 0.1px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d6efd;
}
